
@model IEnumerable<ProductsDetails>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

     @foreach(var item in Model)
     {
    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="images p-3">
                                <div class="text-center p-4"> <img id="main-image" src=@item.image width="250" /> </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="product p-4">
                                <div class="d-flex justify-content-between align-items-center">
                                </div>
                                <div class="mt-4 mb-3">
                                    <span class="text-uppercase text-muted brand">Orianz</span>
                                    <h5 class="text-uppercase">@item.Description</h5>
                                    <div class="price d-flex flex-row align-items-center">
                                        <span class="act-price">$20</span>
                                        <div class="ml-2"> <small class="dis-price">$59</small> <span>40% OFF</span> </div>
                                    </div>
                                </div>
                                <p class="about">@item.Description</p>
                                <div class="sizes mt-5">
                                    <h6 class="text-uppercase">Color</h6> 
                                    <p>@item.DColor</p>
                                </div>
                                <div class="cart mt-4 align-items-center"> <a href="/Home/Invoice/@item.Id" class="btn btn-danger text-uppercase mr-2 px-4">الشراء الأن</a> <i class="fa fa-heart text-muted"></i> <i class="fa fa-share-alt text-muted"></i> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
     }


